markdown<3.0.0
darkslide
Sphinx
sphinx-rtd-theme
sphinx_bootstrap_theme
sphinxcontrib-plantuml
sphinxcontrib-websupport
sphinxcontrib-nwdiag
ipython
ipykernel
jupyter_client
nbsphinx
networkx
matplotlib
numpy
pandas
pandoc
humanize
